body {
    background: blue;
}

p {
    font-size: 10px;
    color: blue;
    font-weight: 900;
}

a {
    text-decoration: none;
    background: white;
    color: green;
    border: 1px solid green;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: 5px;
}

a:hover {
    background: green;
    color: white;
}